.results-list {
  margin-top: 1em;

  ul {
    list-style-type: none;
    padding-left: 0px;

    li {
      @include clearfix();
      border: 1px solid #ccc;

      a {
        @include transition-property(background);
        @include transition-duration(0.3s);

        padding: 1em;
        color: #000;
        display: block;
        width: 100%;

        &:hover {
          text-decoration: none;
          background: #eee;
        }
      }

      &.selected {
        a {
          background: #ddd;

          &:hover {
            background: #ddd;
          }
        }
      }
    }
  }
}